<div class="navbar">
  <div></div>
  <div class="navbar__content-container">
    <a href="/">
      <img alt="Wednesday Logo" class="navbar__logo" src="/assets/wednesday_black.svg">
    </a>

    <ul class="navbar__links-container">
      {{#link-to "docs.alpha" class="navbar__links-link"}}
        Docs
      {{/link-to}}

      <li class="navbar__links-link">
        <a class="navbar__link" href="mailto:hello@wednesday.is?Subject=Let's work together">Hire Us</a>
      </li>
    </ul>
  </div>
</div>