body {
  margin: 0;
  padding: 0;
}

.relative-container {
  position: relative;
}

.container-selected-color {
  height: 320px;
  background-color: red;
}

.header-container {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  &__title {
    padding-top: 70px;
    font-size: 52px;
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
  }

  &__subtitle {
    font-size: 20px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.4);
    padding-top: 15px;
    font-weight: 300;
  }
}

.pickers-container {
  display: flex;
  max-width: 780px;
  padding: 0 20px;
  justify-content: space-between;
  margin: 60px auto 0;

  &__hue-alpha-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__containers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
  }

  &__github-hue-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
  }

  &__twitter-circle-container {
    display: flex;
  }

  &__twitter-container {
    margin-right: 40px;
  }
}

.bottom-pickers-container {
  max-width: 780px;
  padding: 0 20px;
  margin: 60px auto 0;

  &__swatches-container {
    padding-left: 460px;
  }

  &__compact-material-container-slider {
    width: 410px;
    position: absolute;
  }

  &__compact-material-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}

.color-picker-name {
  text-align: center;
  position: absolute;
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  margin-top: 10px;
}

.navbar {
  display: grid;
  grid-template-columns: 0.1fr 1.8fr 0.1fr;

  &__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__links-container {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__links-link {
    list-style-type: none;
    margin: 0 20px 0 0;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: #4A413A;
  }

  &__logo {
    height: 40px;
  }
}

.page-content {
  margin-bottom: 100px;
}

.docs-container {
  display: grid;
  grid-template-columns: 0.1fr 1.8fr 0.1fr;

  &__content {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    padding-top: 50px;
  }
  &__section-header {
    color: #4A413A;
    font-size: 20px;
    margin: 0 0 20px 0;
  }

  &__section-title {
    color: #4A413A;
    margin: 0 0 20px 20px;
  }
}

.footer {
  background: #4A413A;

  &__text {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    color: white;
  }
}
