<div class="color-docs-container">
  <p class="color-docs-container__title">
    Alpha
  </p>

  <Alpha
    @onChange={{action (mut selectedColor)}}
    @selectedColor={{selectedColor}}>
    <SliderPointer />
  </Alpha>

  <div class="color-docs-container__how-to-use-container">
    {{#let (get-code-snippet "alpha.hbs") as |snippet|}}
      <pre class={{snippet.language}}>{{snippet.source}}</pre>
    {{/let}}
  </div>

  <div>
    <table class="color-docs-container__docs-table">
      <thead>
        <td>Parameter</td>
        <td>Description</td>
      </thead>

      <tbody>
        <tr>
          <td>
            selectedColor
          </td>
          <td>
            A color object generate by using convertColor function. This represents the color that the user has selected.
          </td>
        </tr>

        <tr>
          <td>
            onChange
          </td>
          <td>
            A function that is called when the user selects a color from the picker.
          </td>
        </tr>

        <tr>
          <td>
            yield
          </td>
          <td>
            This component allows the developer to provide any component that can be used as a slider. You can even use the SliderPointer provided in this library.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>