<div class="color-docs-container">
  <p class="color-docs-container__title">
    Material
  </p>

  <div class="color-docs-container__component-container">
    <Material
      @selectedColor={{selectedColor}}
      @onChange={{action (mut selectedColor)}}/>
  </div>

  <div class="color-docs-container__how-to-use-container">
    {{#let (get-code-snippet "material.hbs") as |snippet|}}
      <pre class={{snippet.language}}>{{snippet.source}}</pre>
    {{/let}}
  </div>

  <div>
    <table class="color-docs-container__docs-table">
      <thead>
      <td>Parameter</td>
      <td>Description</td>
      </thead>

      <tr>
        <td>
          selectedColor
        </td>
        <td>
          A color object generate by using convertColor function. This represents the color that the user has selected.
        </td>
      </tr>

      <tr>
        <td>
          onChange
        </td>
        <td>
          A function that is called when the user selects a color from the picker.
        </td>
      </tr>
    </table>
  </div>
</div>