<div class="color-docs-container">
  <p class="color-docs-container__title">
    Swatches
  </p>

  <div class="color-docs-container__component-container">
    <Swatches
      @selectedColor={{selectedColor}}
      @onChange={{action (mut selectedColor)}}/>
  </div>

  <div class="color-docs-container__how-to-use-container">
    {{#let (get-code-snippet "swatches.hbs") as |snippet|}}
      <pre class={{snippet.language}}>{{snippet.source}}</pre>
    {{/let}}
  </div>
</div>