<div class="color-docs-container">
  <p class="color-docs-container__title">
    Swatch
  </p>

  <div class="color-docs-container__component-container">
    <Swatch
      @hexColor="#FFEDDE">
    </Swatch>
  </div>

  <div>
    <table class="color-docs-container__docs-table">
      <thead>
        <tr>
          <td>Parameter</td>
          <td>Description</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            hexColor
          </td>
          <td>
            A hex color that will be drawn.
          </td>
        </tr>

        <tr>
          <td>
            boxShadow
          </td>
          <td>
            The boxShadow to draw around the component.
          </td>
        </tr>

        <tr>
          <td>
            borderColor
          </td>
          <td>
            The borderColor to draw around the component.
          </td>
        </tr>

        <tr>
          <td>
            className
          </td>
          <td>
            The class to use to customize the look and feel of the component.
          </td>
        </tr>

        <tr>
          <td>
            onClick
          </td>
          <td>
            A function that is called when the user selects this component.
          </td>
        </tr>

        <tr>
          <td>
            onHover
          </td>
          <td>
            A function that is called when the user hovers on this component.
          </td>
        </tr>

        <tr>
          <td>
            isActive
          </td>
          <td>
            A flag that shows when this component is active.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>