<div>
  <Navbar />
  <div class="docs-container">
    <div></div>

    <div class="docs-container__content">
      <div>
        <p class="docs-container__section-header">
          Components
        </p>

        <p class="docs-container__section-title">
          Alpha
        </p>

        <p class="docs-container__section-title">
          Block
        </p>
        <p class="docs-container__section-title">
          Circle
        </p>
        <p class="docs-container__section-title">
          Compact
        </p>
        <p class="docs-container__section-title">
          Github
        </p>
        <p class="docs-container__section-title">
          Hue
        </p>
        <p class="docs-container__section-title">
          Material
        </p>
        <p class="docs-container__section-title">
          Saturation
        </p>
        <p class="docs-container__section-title">
          Sketch
        </p>
        <p class="docs-container__section-title">
          Slider Swatches
        </p>
        <p class="docs-container__section-title">
          Swatch
        </p>
        <p class="docs-container__section-title">
          Swatches
        </p>
        <p class="docs-container__section-title">
          Twitter
        </p>
      </div>
      <div>
        {{outlet}}
      </div>
    </div>

    <div></div>
  </div>
  <Footer />
</div>